body{
    background: blue;
}

.lampada{
    background: white;
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    position: relative;
    top: 100px;

}


